/*
 * Main
 * */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AppHeader {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: center;
  padding: 0 50px;

}

.AppHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
  flex-wrap: nowrap;
  max-width:1400px;
  flex-grow: 1;
}

.AppBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 50px;
}

.AppBodyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width:1400px;
  flex-grow: 1;
}

.NavBar {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: center;
  padding: 0 50px;
}

.NavBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
  flex-wrap: nowrap;
  max-width:1400px;
  flex-grow: 1;
}

.NavBarGroup {
  display: flex;
  flex-direction: row;
}

.NavBarGroup div {
  color: gray
}

.NavBarGroup div {
  font-size:20px;
  margin-left: 20px;
  cursor: pointer;
}

.NavBarGroup div:first-child {
  margin-left: 0;
}

.NavBarGroup div.currentPage{
  color: #111;
}

.NavBarGroup div:hover {
  color: #111;
}

.Footer {
  display: flex;
  border-top: 1px solid #e8e8e8;
  justify-content: center;
  padding: 30px 0;
}

.Footer a {
  height: 24px;
}

/*
 * Area
 * */

.Area {
  display:flex;
  flex-direction:column;
  padding: 50px 0;
}

.Area h1 {
  font-size: 26px;
  margin-bottom:30px;
}

.Area h2 {
  font-size: 22px;
  margin-bottom:15px;
}
.AreaSection {
  margin-bottom:30px;
}

.Area p {
  margin:0 0 10px 0;
}

/*
 * Shop
 * */

.ShopAreaItems {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
}

.ShopItem {
  display: flex;
  margin-right:20px;
  margin-bottom:20px;
  font-size:20px;
  cursor: pointer;
}

.ShopItemInner:hover {
  border-color: #13B9EC;
  box-shadow: 0px 0px 15px 0px #85D7F0;
}

.ShopItemInner {
  display: flex;
  border-radius:7px;

  border: 1px solid #85D7F0;

  padding:18px 12px; 
  align-items: center;
  flex-direction: column;

  background-color:white;

  font-size: 20px;
}

.ShopItemDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.ShopItemPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:nowrap;
  margin-left:15px;
}

.ShopItemPrice img {
  margin-left:5px;
}

/*
 * Checkout
 * */

.checkoutSection {
  margin-bottom:35px;
}

.checkoutSection p {
  margin:10px 0;
}

.checkoutSelectCouponExplorerLink {
  font-size: 14px;
  color: grey;
  text-decoration:none;
}

.checkoutSelectCouponExplorerLink:hover {
  text-decoration:underline;
}

.checkoutNormalLink {
  color: black;
  text-decoration:underline;
}

.checkoutTitle {
  font-size: 14px;
  color: grey;
}
