/*
 * Main
 * */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.AppHeader {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: center;
  padding: 0 15px;
}

.AppHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
  flex-wrap: nowrap;
  max-width:1230px;
  flex-grow: 1;
}

@media (max-width:800px) {
  .AppHeaderContainer {
    flex-direction:column;
    justify-content: flex-start;
    padding: 20px 0;
  }
}

.AppHeaderContainer img {
  width:525px !important;
}

@media (max-width:800px) {
  .AppHeaderContainer img {
    width:300px !important;
    align-self: center;
  }
  .walletButtonContainer {
    margin-top: 20px
  }
}


.AppBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 15px;
}

.AppBodyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width:1230px;
  flex-grow: 1;
}

/*
 * Navigation
 * */

.NavBar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e8e8e8;
  justify-content: center;
  padding: 0 15px;
}

.NavBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:40px 0;
  flex-wrap: nowrap;
  max-width:1230px;
  flex-grow: 1;
}

.NavBarGroup {
  display: flex;
  flex-direction: row;
}

.NavBarGroup div {
  color: gray
}

.NavBarGroup div {
  font-size:20px;
  margin-left: 20px;
  cursor: pointer;
}

.NavBarGroup div:first-child {
  margin-left: 0;
}

.NavBarGroup div.currentPage{
  color: #111;
}

.NavBarGroup div:hover {
  color: #111;
}

@media (max-width:800px) {
  .NavBar {
    flex-direction: column;
    align-items:flex-start;
  }

  .NavBarContainer {
    padding: 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
  }
  
  .NavBarGroup {
    flex-direction: column;
  }
  .NavBarGroup {
    margin-top:10px;
  }

  .NavBarGroup div {
    margin-top: 10px;
    margin-left: 0;
  }

  .NavBarGroup div:first-child {
    margin-top: 0;
  }
  .NavBarGroup:first-child {
    margin-top: 0;
  }
}

/*
 * Footer
 * */

.Footer {
  display: flex;
  border-top: 1px solid #e8e8e8;
  justify-content: center;
  padding: 30px 0;
}

.Footer a {
  height: 24px;
}

/*
 * Area
 * */

.Area {
  display:flex;
  flex-direction:column;
  padding: 50px 0;
  font-size:20px;
}

.Area h1 {
  font-size: 28px;
  margin-bottom:30px;
}

.Area h2 {
  font-size: 24px;
  margin-bottom:15px;
}
.AreaSection {
  margin-bottom:30px;
}

.Area p {
  margin:0 0 10px 0;
}

.Area ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.Area li {
  margin-bottom:5px;
}

.Area a {
  color: black;
}

/*
 * Shop
 * */

.ShopAreaItems {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:flex-start;
  margin-left:-20px;
}

.ShopItem {
  display: flex;
  margin-left:20px;
  margin-bottom:20px;
  font-size:20px;
  cursor: pointer;
}

.ShopItemInner:hover {
  border-color: #13B9EC;
  box-shadow: 0px 0px 15px 0px #85D7F0;
}

.ShopItemInner {
  display: flex;
  border-radius:7px;

  border: 1px solid #13B9EC;
  /*border: 1px solid #85D7F0;*/

  padding:18px 12px; 
  align-items: center;
  flex-direction: column;

  background-color:white;

  font-size: 20px;
}

.ShopItemDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 5px 0 5px;

  align-self:stretch;
}

.ShopItemPrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:nowrap;
  margin-left:15px;
}

.ShopItemPrice img {
  margin-left:5px;
}

/*
 * Account
 * */

.AccountAreaItems {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:flex-start;
  margin-left:-20px;
}

.AccountItem {
  display: flex;
  margin-left:20px;
  margin-bottom:20px;
  font-size:20px;
  cursor: pointer;
}

.AccountItemInner:hover {
  border-color: #C049F3;
  box-shadow: 0px 0px 15px 0px #BD72E4;
}

.AccountItemInner {
  display: flex;
  border-radius:7px;

  border: 1px solid #C049F3;

  padding:18px 12px; 
  align-items: center;
  flex-direction: column;

  background-color:white;

  font-size: 20px;
}

.AccountItemDesc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  align-self: flex-start;
  margin-left:10px;
}

.AccountItemAddress {
  display: flex;
  font-size:12px;
  color: gray;
  margin-top:5px;
}

/*
 * Checkout
 * */

.checkoutSection {
  margin-bottom:35px;
}

.checkoutSection p {
  margin:10px 0;
}

.checkoutSelectCouponExplorerLink {
  font-size: 14px;
  color: grey;
  text-decoration:none;
}

.checkoutSelectCouponExplorerLink:hover {
  text-decoration:underline;
}

.checkoutNormalLink {
  color: black;
  text-decoration:underline;
}

.checkoutTitle {
  font-size: 14px;
  color: grey;
}
